.auth-form {
  /* background-color: red; */
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}

.input-field {
  margin-bottom: 20px;
}

.authSubmitWrapper button {
  width: 100%;
}

.signup-msg {
  /* background-color: red; */
  text-align: end;
  font-size: 0.75em;
  margin-bottom: 20px;
}

.link-wrapper a {
  text-decoration: none;
}
.link-wrapper a:hover {
  text-decoration: underline;
}
